h1{
    color:deeppink;
    background-color: beige;
    text-align: center; 
    /*comment*/
}
p{
    font-size: 20px; /*37.8px = 1cm */
    font-weight: 600;
    text-align: justify;
}
#my-p{
    font-weight: 400;
    font-size: 14px;
    background-color: burlywood;
}
.same-p {
    color: brown;
    text-decoration: line-through;
    text-align: right;
}

.same-p:hover {
    background-color: aqua;
}
