header{
    height: 150px;
    background: rgb(11, 143, 225);
    align-content: flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    color: aliceblue;
    justify-self: center;
    font-size: 1.6rem;
}
h4{
    color: aliceblue;
    justify-self: center;
    font-size: medium;
}
.container{
    display: flex;
    justify-content:  space-around;
    width: 100vw;
    padding: 30px;

}
.nuur{
    
    width: 400px;
    height: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

h2{
    color: rgb(11, 143, 225);
}
p{
    font-size: small;
}
ul{
    list-style-type: square;
    font-size: small;
}
button{
    height: 30px;
    width: 150px;
    background-color: rgb(11, 143, 225);
    border: none;
    border-radius: 3px;
}
button:hover{
    background-color: rgb(11, 143, 225, 90%);
}
a{
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}
img{
    height: 200px;
}
footer{
    background-color: rgb(58, 58, 58);
    height: 50px;
    display: flex;
    justify-content: center;
    

}
h3{
    color: aliceblue;
    font-size: 0.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
   
   
}