.container {
    display: flex;
    align-items: center;
    height: 100px;
    background: lightgray;
    flex-wrap: wrap;
    gap: 10px;
}

.container2 {
    display: flex;
    align-items: center;
    height: 100px;
    background: rgb(197, 17, 17);
    flex-wrap: wrap;
    gap: 10px;
}

.container3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background: rgb(158, 80, 80);
    border-radius: 40px;


}

.item {
    flex: 2;
}

a {
    color: blue;
    /* Текстний өнгө */
    text-decoration: none;
    /* Доогуур зураасыг арилгана */
}

a:hover {
    color: red;
    /* Хулганаар хүрэхэд өнгө өөрчлөгдөнө */
    text-decoration: underline;
}