@font-face {
  font-family: Alegreya;
  src: url(./images/Alegreya-VariableFont_wght.ttf);
}

.headerNavBar {
  width: auto;
  height: 72px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
}

.headerNavBar img {
  width: 121px;
  height: 38px;
}

.navBarText {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.navBarText a {
  color: #432818;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  justify-content: space-between;
  font-size: smaller;
  font-weight: 600;
}

.navItemRight {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: smaller;
  font-weight: 600;
}

.navItemRight button {
  width: 74px;
  height: 40px;
  background-color: #432818;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: smaller;
  font-weight: 600;
}

.navItemRight a {
  color: #432818;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

.heroSection {
  width: auto;
  height: 952px;
  background-color: rgb(255, 255, 255);
  justify-items: center;
}

.heroContainer {
  display: block;
  padding-top: 32px;
  width: 1320px;
  height: 888px;
  justify-items: center;
}

.frame1 {
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  width: 1296px;
  height: 416px;
}

.frame1-1 {
  border-radius: 24px;
  display: flex;
  width: 416px;
  height: 416px;
  background-color: rgba(243, 213, 181, 1);
}

.frame1-1 p {
  color: rgba(67, 40, 24, 1);
  align-self: center;
  justify-items: center;
  font-size: 3.5rem;
  font-family: Alegreya;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.frame2-1 {
  border-radius: 24px;
  display: flex;
  width: 416px;
  height: 416px;
  background-color: rgba(243, 213, 181, 1);
}

.frame2 {
  justify-content: space-between;
  display: flex;
  width: 1296px;
  height: 416px;
}

.frame2-1 p {
  color: rgba(67, 40, 24, 1);
  margin: 50px;
  align-self: center;
  justify-items: center;
  font-size: 3rem;
  font-family: Alegreya;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.about-us {
  background-color: rgba(255, 244, 232, 1);
  height: 892;
  justify-items: center;
}

.about-usInfo {
  padding-top: 32px;
  width: 1320px;
  height: 780px;
  justify-items: center;
}

.about-usText {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 1296px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-usText h5 {
  padding-right: 10px;
  width: 636px;
  color: #432818;
  font-family: Alegreya;
  font-size: 16px;
}

.about-usText h3 {
  color: #432818;
  font-family: Alegreya;
  font-size: 48px;
}

.exterior {
  display: block;
  justify-items: center;
}

.OurMenu {
  background-color: rgb(255, 255, 255);
  height: 905;
  justify-items: center;
}

.menu {
  display: block;
  width: 1320px;
  height: 793px;
  justify-content: center;
}

.menuText {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 1296px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: space-between;
}

.menuText h5 {
  padding-right: 10px;
  width: 636px;
  color: #432818;
  font-family: Alegreya;
  font-size: 16px;
}

.menuText h3 {
  color: #432818;
  font-family: Alegreya;
  font-size: 48px;
}

.menuPic {
  display: flex;
  justify-content: space-between;
}

.OurBlog{
  background-color: rgb(255, 255, 255);
  height: 903px;
}

.blog{
  display: block;
  width: 1320px;
  height: 791px;
  justify-self: center;
  
}
.blogText{
  padding-top: 32px;
  padding-bottom: 40px;
  width: 1296px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: space-between;
}

.blogText h5{
  padding-right: 10px;
  width: 636px;
  color: #432818;
  font-family: Alegreya;
  font-size: 16px;
}
.blogText h3{
  color: #432818;
  font-family: Alegreya;
  font-size: 48px;
}

.blogContainer{
  display: flex;
  width: 1296px;
  height: 598px;
  gap: 24px;
  justify-self: center;
  justify-content: space-around;
}
.container1{
  width: 416px;
  height: 598px;
}
.container1 img{
  width: 416px;
}
.con1Text{
  padding-top: 10px;
  height: 254px;
  align-content: space-between;
}

.con1Text button{
  width: 103px;
  height: 36px;
  border: 2px solid #432818;
  background-color: white;
}
.textTitle{
  width: 416px;
  height: 90px;
}
.date1{
  color: #432818;
  font-size: 14px;
  font-family: sans-serif;
}
.title{
  color: #432818;
  font-size: 32px;
  font-family: Alegreya;
  font-weight: 500;
  margin-top: 0;
}
.infoText{
  padding-top: 20px;
  color: #432818;
  font-family: sans-serif;
  font-size: 16px;
}
.footer{
  background-color: #432818;
  height: 365px;
  height: auto;
}
.footerContainer{
  align-items: center;
  width: 1320px;
  height: 253px;
  justify-self: center;
  display: flex;
  justify-content: space-around;
}
.con2Text{
  width: 306px;
  height: 189px;
}
.about1{
  width: 280px;
  color: rgba(255, 244, 232, 1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 16px;
}
.con2Text h3{
  margin-top: 0;
  color: rgba(255, 244, 232, 1);
  font-family: Alegreya;
  font-weight: 600;
  font-size: 24px;
}
.address{
  color: rgba(255, 244, 232, 1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 16px;
}
.teleNumber{
  color: rgba(255, 244, 232, 1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 16px;
}
.sociallogo{
  display: flex;
  gap: 15px;
  align-items: center;
}
.moreInfoText p{
  color: rgba(255, 244, 232, 1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 3px;
}