.footer{
    width: 100%;
    height: 182px;
    background-color: white;
}
.container{
    justify-self: center;
    display: block;
    width: 230px;
    justify-content: space-around;
    align-self: center;
}
.logos{ 
    display: flex;
    justify-content: space-between;
}
.container h3{
    font-size: 14px;
    color: #21243D;
    justify-self: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 40px 60px;
}

header a {
    margin-left: 40px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

header a:hover {
    color: #FF6464;
}
