body{
    width: 1440px;
}
header {
    display: block;
    width: auto;
    height: 85px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    gap: 30px;
    box-shadow: 20px 30px 50px rgba(114, 114, 114, 0.2);
}

header button {
    align-self: center;
    width: 149px;
    height: 44.5px;
    background-color: rgba(117, 195, 16, 1);
    border-radius: 22px;
    border: none;
    color: white;
    font-size: medium;
}

.navbarText {
    display: block;
    align-self: center;
    width: 600px;
    height: auto;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    font-size: larger;
}

.hero1 {
    display: flex;
    align-items: center;
    padding-top: 92px;
    padding-bottom: 92px;
    padding-left: 127;
    padding-right: 127px;
    padding: 60px;
    justify-content: space-around;
}

.text1{
    display: block;
    width: 429px;
    height: 513px;
    align-content: space-between;  
}
.hero1 h1{
    
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}
.hero1 h4{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.hero1 button{
    align-self: center;
    width: 220px;
    height: 54px;
    background-color: rgba(117, 195, 16, 1);
    border-radius: 27px;
    border: none;
    color: white;
    font-size: larger;
}
.hero2 {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding-top: 92px;
    padding-bottom: 92px;
    padding-left: 127;
    padding-right: 127px;
    padding: 60px;
    justify-content: space-around;
}
.text2{
    text-align: right;
    display: block;
    width: 429px;
    height: 513px;
    align-content: space-between;  
    
}
.hero2 h1{
    
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}
.hero2 h4{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}