.profile-card {
    margin: 0 auto;
    background-color: darkslategrey;
    width: 350px;
    border: 1px solid black;
    box-shadow: 5px 5px 8px
}

.img {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    border-radius: 20%;
    box-shadow: 5px 5px 10px;
}

h1 {
    text-align: center;
    background-color: aliceblue;
    color: darkslategrey;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name {
    text-align: center;
    color: bisque;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    text-align: justify;
    color: antiquewhite;
    padding: 0px 20px;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.role {
    text-align: center;
    color: bisque;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

footer {
    text-align: center;
    padding: 10px;
    background-color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Phone {
    text-align: center;
    color: darkslategrey;
    font-weight: 800;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}