body {
    background-color: rgb(219, 219, 219);
}

h1 {
    color: rgb(68, 68, 68);
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

.register {
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    border: none;
    margin: 20px auto;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.register input {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 8px 30px;
    box-sizing: border-box;
    border-radius: 5px gray;
}

.register button {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 8px 123px;
    background-color: rgb(45, 45, 45);
    color: white;
    border-radius: 5px;
    border: none;
}

.userregister {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: white;
    font-family: sans-serif;
    font-size: smaller;
    border: none;
}

.userregister input {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid rgb(206, 202, 202);
    border-radius: 5px;
}

.userregister button {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 8px;
    background-color: rgb(85, 148, 229);
    color: white;
    border-radius: 5px;
    border: none;
}
.SurveyFrom{
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    font-family: sans-serif;
    border: none;
    font-size: smaller;
}
.SurveyFrom select{
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid rgb(85, 148, 229);
    border-radius: 5px;

}
.SurveyFrom button{
    width: 100%;
    padding: 8px;
    height: 40px;
    background-color: rgb(85, 148, 229) ;
    color: white;
    border: none;
    border-radius: 5px;
}
.SurveyFrom h4{
    margin-bottom: 0;
}
.SurveyFrom input{
    margin-bottom: 15px;
}

.Payment{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: none;
    border-radius: 15px;
    background-color: white;
    font-family: sans-serif;
}

.Payment input{
    width: 100%;
    border-radius: 8px;
    margin-top: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid gray;
}
.date{
    display: flex;
    width: 100%;
    gap: 5px;
    justify-content: space-between;
}
.Payment button{
    width: 100%;
    background-color: rgb(109, 228, 159);
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
}
