@font-face {
    font-family: roboto;
    src: url(/iCode_academy/Week10/lesson_day_30/files/Roboto-VariableFont_wdth\,wght.ttf);
}
body {
    display: block;
    justify-self: center;
    width: 1512px;
    height: auto;
    display: block;
    background-color: #F5F7FB;
}

.header {
    width: auto;
    justify-self: center;


}

.header img {
    margin-left: 64px;
    margin-top: 48px;
}

.search {
    justify-self: center;
    height: 56px;
    width: 1384px;
    display: flex;
    justify-content: space-between;
    border: none;
    box-shadow: 0px 11px 20px 0px #91919129;
    border-radius: 16px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

.search button {
    width: 151px;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0px 11px 20px 0px #91919129;
    border: none;
    background-color: #FFCE31 ;
    font-size: 16px;
    color: #416EDF;
    font-weight: 700;
    font-family: roboto;
}

.searchLeft {
    align-items: center;
    width: auto;
    display: flex;
    gap: 15px;
}

.searchLeft input {
    width: auto;
    height: 24px;
    border: none;
    font-size: 16px;
    color: #416EDF;
}
.container{
    flex-wrap: wrap;
    width: 1384px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    font-family: roboto;
}

