body {
    background-image: url(./files/MacBook\ Pro\ 16_\ -\ 3.png);
    background-size: cover;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.astroLogo{
    width: 116px;
    height: 28px;
}
/* LeftBar endees ehlene */

.leftBar {
    justify-content: space-around;

    display: flex ;
    width: 519px;
    height: 99px;
    border-bottom-right-radius: 50px;
    background-color: #FFFFFF26;
}
.menu{
    display: flex;
    align-items: center;
    gap: 15px;
    
}
.menuIcon{
    width:  28px;
    height: 28px;
}
@font-face {
  font-family: inter ;
  src: url(../lesson_day_24/files/Inter-VariableFont_opsz\,wght.ttf);
}
.menuText{
    color: white;
    text-decoration: none;
    font-family: inter;
}
.institute{
    display: flex;
    align-items: center;
    gap: 8px;
}

.insText{
    color: white;
    font-family: inter;
    font-weight: 100;
    text-decoration: none;
    font-size: larger;
}
.arrow{
    width: 12px;
    height: 8px;
}

/* RightBar endees ehlene */

.rightBar { 
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 519px;
    height: 99px;
    border-bottom-left-radius: 50px;
    background-color: #FFFFFF26;
}
.homeText{
    color: white;
    text-decoration: none;
    font-family: inter;
    font-size: large;
    font-weight: 600;
}
.achievement{
    display: flex;
    align-items: center;
    gap: 8px;
}
.achText{
    color: white;
    text-decoration: none;
    font-family: inter;
    font-size: large;
    font-weight: 600;
}
.proPic{
    width: 38px;
    height: 38px;
}

.main{
    background-color: antiquewhite;
    margin-left: 74px;
    margin-right: 44px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}
.group1{
    width: 350px;
    display: flex;
    flex-direction: column;
}
